@model reSportsModel.EquipoM

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4 p-3" style="background-color:white; border-radius:10px">
        <div>
            <h1>Crear Equipo</h1>
            <hr />
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <span>
                @Html.RadioButtonFor(m => m.Genero, 0)
                @Html.LabelFor(m => m.Genero, "Masculino")
            </span>
            <span>
                @Html.RadioButtonFor(m => m.Genero, 1)
                @Html.LabelFor(m => m.Genero, "Femenino")
            </span>
            <div class="d-flex justify-content-between align-items-center form-group mt-3 mb-3">
                <input type="submit" value="Create" class="btn btn-success" />
                @Html.ActionLink("Back To List", "Index")
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
