@model reSports_Proyect_MM.Models.Publicacion

@{
    ViewData["Title"] = "Delete";
}

<div class="p-2" style="background-color:white; border-radius:10px">
    <h1>Eliminar</h1>

    <h3>¿Está seguro que desea eliminar esta Publicación?</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
        <dt class = "col-sm-2">
            <span>Fecha Publicación</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
