@model IEnumerable<reSports_Proyect_MM.Models.Asistencium>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center">
    <div class=" justify-content-start p-3" style=" background-color:white; border-radius: 10px; width: 33%;">
        <h1>Listado de Asistencia</h1>
    </div>
    <div>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Create","Asistenciums")" style="background-color:#1089e4;">Crear Nuevo</a>
    </div>
</div>

<div class="container-sm mt-2 p-3" style="background-color:#1089e4; border-radius: 10px;">
    <div class="col-6 text-center mx-auto">
        <table class="table" style="color: #FFFF;">
            <thead>
                <tr>
                    <th>
                        <span>Fecha</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Asistio)
                    </th>
                    <th>
                        <span>Razon Falta</span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaAsistencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asistio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RazonFalta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.NombreUsuario)
                        </td>
                        <td>
                            <a style="color:white" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a style="color:white" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a style="color:white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        
</div>
